:root
{
  background-color: rgb(22, 83, 27);
}

body {
  place-items: unset;
  min-width: unset;  
  background-color: #a8a8a8;
  flex-direction: column;
  align-items: center;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;  
  width: 100%;
  padding: 0%;
  margin: 0%;
  background-color: #5f5f5f;
}

.container {
  background-color: rgb(10, 10, 10);
  height: 100vh;
  width: 80%;
  border-style: solid;
  border-width: 2px;
  border-color: #444;
}

#header {
  background-color: #333333;
  display: flex;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #5f5f5f;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#menu-toggle {
  visibility: hidden;
  height: 0%;
}

.logo {
  width: 50px;
  margin: 10px;
}

.menu-toggle-wrapper {
  background-color: #2a2950;
  background-image: linear-gradient(to right, #053964, rgb(11, 46, 23));
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  height: 0%;
  border-style: solid;
  border-width: 1px;
  border-color: #5f5f5f;
}

.nav-bar {
  background-color: #2a2950;
  background-image: linear-gradient(to right, #053964, rgb(11, 46, 23));
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex-grow: 1;
}

.nav-bar img {
  width: 20px;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  padding: 10px 15px;
  text-align: center;
  margin-top: 15px;
}

.nav-bar a {
  text-decoration: none;
  color: rgb(180, 180, 180);
  transition: 0.3s;
}

.nav-bar a:hover {
  color: rgb(51, 139, 0);
}

.burger-icon {
  font-size: 24px;
  cursor: pointer;
  padding: 15px;
  display: none;
}

#title-div {
  display: flex;
  justify-content: center;
}

.title {
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  width: 70%;
  padding: 5px;
  text-align: center;
  background-color: #053964;
  color: #a8a8a8;
  border-radius: 10px;
}

@media screen and (max-width: 480px) {
  #app
  {
    width: 100%;
  }
  
  .nav-bar {
    max-height: 0;
  }

  #user
  {
    visibility: hidden;
  }

  #header {
    max-height: 0;
    border-style: none;
  }

  .container {
    width: 100%;
  }
  .menu-toggle-wrapper {
    visibility: visible;
    height: auto;    
    border-style: solid;
    border-width: 1px;
    border-color: #5f5f5f;
  }

  .nav-bar ul {
    flex-direction: column;
    background-color: #444444;
    position: absolute;
    width: 100%;
    top: 90px;
    left: 0%;
    max-height: 0;
    overflow: hidden;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.2s ease-in-out;
  }

  .nav-bar li {
    padding: 10px;
    text-align: center;
  }

  .nav-bar li:hover {
    background-color: #6bc24321;
  }

  .burger-icon {
    display: block;
  }

  #menu-toggle:checked ~ #header .nav-bar {
    max-height: 500px;
  }

  #menu-toggle:checked ~ #header .nav-bar ul {
    max-height: 500px;
    transform: scaleY(1);
  }

  #menu-toggle:checked ~ #header .nav-bar ul li {
    opacity: 1;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  #menu-toggle:checked ~ #header .nav-bar ul li:nth-child(1) {
    transition-delay: 0.1s;
  }

  #menu-toggle:checked ~ #header .nav-bar ul li:nth-child(2) {
    transition-delay: 0.2s;
  }

  #menu-toggle:checked ~ #title-div .title
  {
    margin-top: 120px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
}
